*, *::before, *::after {
    box-sizing: border-box;
  }
p{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
#frm{
  display: grid;
}
.fondo{
    background-image: url(../wall.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuario{
    align-self: center;
    width: 7rem;
    border-radius: 50%;
    z-index: 24;
    box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
    -webkit-box-shadow: 0px 0px 40px 9px rgba(30,41,104,1);
    -moz-box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

::placeholder{
    color: #94b2d3;
}
.blur{
    margin: 0px;
    min-height: 100%;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Rectángulo_1 {
    border-radius: 1.5rem;
    background-image: -moz-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 100%);
    box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
    -webkit-box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
    -moz-box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
    align-content: center;
    width: 35rem;
    height: 30rem;
    z-index: 5;
    margin: auto;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: 2.5rem 3rem 1.5rem 3rem 1.5rem 3rem 1.5rem 3rem 1.5rem 3rem 1.5rem 3rem 2rem;
    grid-template-columns: 2.5rem 3.5rem 10rem 1.5rem 4rem 1rem 4rem 1rem 4rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    opacity: 80%;
  }
  #nom{
    grid-row: 2/3;
    grid-column: 2/10;
 
  }
  #ape{
    grid-row: 4/5;
    grid-column: 2/10;
  }
  #mat{
    grid-row: 6/7;
    grid-column: 2/4;
  }
  #feNa{
    grid-row: 5/6;
    grid-column: 5/10;
    font-size: .8rem;
    text-align: left;
    align-self: center;
    color: #326897;
  }
  #dia{
    grid-row: 6/7;
    grid-column: 5/6;
  }
  #mes{
    grid-row: 6/7;
    grid-column: 7/8;
  }
  #anio{
    grid-row: 6/7;
    grid-column: 9/10;
  }
  #ema{
    grid-row: 8/9;
    grid-column: 5/10;
  }
  #contra{
    grid-row: 10/11;
    grid-column: 5/10;
  }
  #conf{
    grid-row: 12/13;
    grid-column: 5/10;
  }
  #usuar{
    grid-row: 8/13;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
  }
  .naci{
    font-size: 12px;
    border-width: .5rem;
  }
  .form_input{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    width: 100%;
    height: 1rem;
    padding: 1.2rem;
    margin: auto;
    background-color: #326897;
    color: #94b2d3;
    box-shadow: none;
    border: 1px solid #326897;
    color: white;
  }
  .form_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: .75rem;
    margin-top: .75rem;
    }

    #login{
        background-image: -moz-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 80%) ;
        background-image: -webkit-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 80%);
        background-image: -ms-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 80%);
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
    -webkit-box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
    -moz-box-shadow: -1px 12px 45px -4px rgba(30,41,104,1);
        width: 18rem;
        height: 3.5rem;
        z-index: 2;
        margin: auto;
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    #login:hover{
        background-image: -moz-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 80%) ;
        background-image: -webkit-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 80%);
        background-image: -ms-linear-gradient( 90deg, rgb(255,254,255) 0%, rgb(251,227,251) 80%);
    }
    #login::before{
        background-color: rgba(0, 0, 0, 0.4);
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

    }
    
    #InicioBoton{
        font-weight: 500;
        text-decoration-color: rgb(255, 255, 255);
        color: white;
        opacity: 100%;
        z-index: 8;
        cursor: pointer;
        transition: ease-in-out .2s;
        border: none;
        background-color: rgba(0,0,0,0);
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;        
    }
    #InicioBoton:hover{
        text-shadow: 0 0 .33rem #326897, 0 0 1rem #326897, 0 0 2rem #326897, 0 0 3rem #326897;
        font-weight: 600;
    }
    #recuerda{
        justify-content: space-between;
        color: black;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        
    }
    #cbox1{
        margin-right: .5rem;
        accent-color: #326897;
    }
    #Recuerda{
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: .8rem;
        color: #326897;
        margin-bottom: 2.5rem;
    }

    input[type="checkbox"]:checked {
        background-color: #326897;
        accent-color: #326897;
      }
    #nuevo{
        grid-row: 5/5;
        grid-column: 4/5;
        display: flex;
        justify-self: right;
    }
    #Nohay{
        text-decoration: none;
        font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: .8rem;
        color: #326897;
        margin-bottom: 1.8rem;
        align-self: center;
        transition: ease-in-out .2s;
    }
    #Nohay:hover{
        text-shadow: 0 0 .33rem #94b2d3, 0 0 1rem #94b2d3, 0 0 2rem #94b2d3, 0 0 3rem #94b2d3;
        font-weight: 600;
    }